<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="breeze.app.tulip">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tulip"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".activity.LookLogActivity"
            android:theme="@style/ThemeWithStatusBar"/>
        <activity
            android:name=".activity.PaySuccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tulip"
                    android:path="/payResult"
                    android:scheme="breeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProActivity" />
        <activity android:name=".activity.LookPathActivity" />
        <activity android:name=".activity.AppStorageConfigActivity" />
        <activity
            android:name=".activity.AppListActivity"
            android:theme="@style/ThemeWithStatusBar" />
        <activity
            android:name=".activity.AppCenterActivity"
            android:theme="@style/ThemeWithStatusBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_des" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>